.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/
# writeable folder
writeable/sessions/*
!writeable/sessions/index.html

writeable/data/*
writeable/masalah/*
writeable/jawaban/*
writeable/kirim/*
writeable/BA/*
writeable/zip_to_dosen/*
!writeable/index.html
!writeable/data/00000000000_template_pengawas.xlsx
!writeable/data/index.html
!writeable/masalah/index.html
!writeable/jawaban/index.html
!writeable/kirim/index.html
!writeable/BA/index.html